* {

   /*border : solid 1px rgb(4, 4, 4) ; */

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{

  height: 100%;
  padding: 0px;
 
}

#img1 {

width: 70%;
margin:auto;
display: block;
border-radius: 50%;
padding: 8px;
border: 3px solid mediumvioletred;

}

.box{
 
  width: 300px;
  height: 300px;
  border-radius: 8px;
  background-color: cornflowerblue;
  float: inline-start;
  margin-left: 20px;
  margin-top: 20px; 
  margin-right: 20px;
  
  }




#name{

font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 40px;
font-style: italic;
color:white;

}


#name{

  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  font-style: italic;
  color:white;
  
  }


  body nav div{

    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-style: italic;
    color:mediumvioletred ;
   

}



body{

  min-height: 100%;

}

ul {

list-style-type: none;

}



.grid > * {

box-shadow: -1px 1px 7px 0px ;
border-radius: 8px;
padding: 10px;
text-align: center;

}
 


.nav {

  
  grid-area: navbar;
 background-color: darkblue;
 background-image: url(img/navf.png);

}

.main {

grid-area: main;
background-color:white;
overflow: auto;

} 


.footer{

grid-area: footer;
background-color: lightgreen;
}


.grid{

  display: grid;
  gap: 10px;
  grid-template: 
  
  
  "navbar" 780px 
  "main" 400px
  "footer" 80px;
  
  


  
 }


 .date{

  margin-top: 60px;
  
   }


   .subtitle {
   
    border-radius: 5px;
    height: 40px;
    width: 130px;
    display:flex;
    margin-right: 40%; 
    text-size-adjust: 40%;
    font-size: 180%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:mediumvioletred;
    font-style: italic;
    color:ivory
    
    
   }




@media (min-width:600px) {
  .grid {
 grid-template-columns: 50% 50% ;
  grid-template-rows: 900px 40px  ;  
  grid-template-areas: 
 
 "navbar    main" 
 
 "footer  footer"
}
 
.date{

margin-top: 130px;

}

.box{
 
  
  margin-left: 20px;
 
  
  }



}


@media (min-width:900px) {
  .grid {
 grid-template-columns: 20% 80% ;
  grid-template-rows: 950px 40px  ;  
  grid-template-areas: 
 
 "navbar    main" 
 
 "footer  footer"
}

.date{

  margin-top: 90px;



}

.box{
 
  
  margin-left: 20px;
 
  }


}


.descript {
 
  height: 30%;
  width:100%;
  text-align:left;
  font-style: italic;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-top: 10px;
  color:ivory
  
  
  
  }
  
  
  
 



 



