* {

 /* border : solid 1px rgb(4, 4, 4) ; */

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{

  height: 100%;

}



body{

  min-height: 100%;

}

.grid > * {

box-shadow: -1px 1px 7px 0px ;
border-radius: 4px;
padding: 10px;
text-align: center;

}
 
.header {

  grid-area: header;
  background-color: lightskyblue;
  margin-left: 20.5%;
}

.nav {

  
  grid-area: navbar;
 background-color: darkblue;
 background-image: url(img/navf.png);

}

.main {

grid-area: main;
background-color:white;

} 


.footer{

grid-area: footer;
background-color: lightgreen;
}


.grid{

  display: grid;
  gap: 10px;
  grid-template: 
  
  
  "navbar" 600px 
  "main" 400px
  "footer" 80px;
  
  
 }


 .date{

  margin-top: 250px;
  
   }



@media (min-width:500px) {
  .grid {
 grid-template-columns: 50% 50% ;
  grid-template-rows: 570px 40px  ;  
  grid-template-areas: 
 
 "navbar    main" 
 
 "footer  footer"
}
 
.date{

margin-top: 230px;

}




}


@media (min-width:900px) {
  .grid {
 grid-template-columns: 20% 80% ;
  grid-template-rows: 569px 40px  ;  
  grid-template-areas: 
 
 "navbar    main" 
 
 "footer  footer"
}

.date{

  margin-top: 170px;



}




}

/******************************************/




.descript {

  font-style: italic;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-top: 10px;
  color:ivory
  
  
  }
  
  
  .subtitle {
   

  margin-right: 40%;
   text-align:left;
   font-size: 30px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   padding: 5px;
   background-color:mediumvioletred;
   font-style: italic;
   color:ivory
   
  }
 



 



